@page "{id:int?}"
@model LabU.Pages.Admin.Subjects.AttachTeachersModel
@{
    ViewData["Title"] = "Прикрепление преподавателей";
}

<div>
    <h1>Прикрепление преподавателей к дисциплине</h1>
    <h4>@Model.SubjectName</h4>
    <p>Отметьте преподавателей из списка, которых вы хотели бы прикрепить к дисциплине</p>

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.SubjectId)

        <div class="form-group">
            <table class="table">
                @foreach (var item in Model.AssignedUsers)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="teachers" value="@item.Id" @(Html.Raw(item.IsAssigned ? "checked=\"checked\"" : "")) />
                            @item.Name
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-page="./Index" class="btn btn-light">Отмена</a>
        </div>
    </form>
</div>