@page "{id:int?}"
@model LabU.Pages.Student.Task.Response.AddModel
@{
}
<h3>Новый ответ на задание</h3>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(x => x.TaskResponse.TaskId)
    <div class="form-group">
        @Html.LabelFor(x => x.TaskResponse.AttachmentName)
        @Html.TextBoxFor(x => x.TaskResponse.AttachmentName)
        <span asp-validation-for="@Model.TaskResponse.AttachmentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.TaskResponse.Comment)
        @Html.TextBoxFor(x => x.TaskResponse.Comment)
        <span asp-validation-for="@Model.TaskResponse.Comment" class="text-danger"></span>
    </div>
</form>
