@page "{id:int?}"
@using LabU.Core.Identity
@model EditModel
@{
    ViewData["Title"] = "Редактирование преподавателя";
}
<h1>@ViewData["Title"]</h1>
<h3>@Model.Teacher.LastName @Model.Teacher.FirstName @Model.Teacher.MiddleName</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(x => x.Teacher.Id)

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.Username" class="form-control" />
                <label asp-for="@Model.Teacher.Username"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.Email" class="form-control" />
                <label asp-for="@Model.Teacher.Email"></label>
            </div>

            <div class="mb-3">
                <input asp-for="@Model.Teacher.IsEmailConfirmed" />
                <label asp-for="@Model.Teacher.IsEmailConfirmed"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.LastName" class="form-control" />
                <label asp-for="@Model.Teacher.LastName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.FirstName" class="form-control" />
                <label asp-for="@Model.Teacher.FirstName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.MiddleName" class="form-control" />
                <label asp-for="@Model.Teacher.MiddleName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.Function" class="form-control" />
                <label asp-for="@Model.Teacher.Function"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Teacher.Address" class="form-control" />
                <label asp-for="@Model.Teacher.Address"></label>
            </div>

            <div class="mb-3">
                <input asp-for="@Model.Teacher.IsActiveAccount" disabled="@(Model.Teacher.Id == 1 && User.IsInRole(UserRoles.ADMINISTRATOR))"/>
                <label asp-for="@Model.Teacher.IsActiveAccount"></label>
                @if (Model.Teacher.Id == 1 && User.IsInRole(UserRoles.ADMINISTRATOR))
                {
                    <p>Вы не можете деактивировать учетную запись главного администратора</p>
                }
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-page="./Index" class="btn btn-light">Отмена</a>
        </form>

    </div>
</div>