@page
@model LabU.Pages.Student.SubjectsModel
@{
    ViewData["Title"] = "Дисциплины";
}
<h3>Перечень дисциплин</h3>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Subjects[0].Name)</th>
            <th>@Html.DisplayNameFor(m => m.Subjects[0].AcademicTerm)</th>
            <th>@Html.DisplayNameFor(m => m.Subjects[0].AcademicYear)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Subjects)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.DisplayFor(x => item.AcademicTerm)</td>
                <td>@Html.DisplayFor(x => item.AcademicYear)</td>
            </tr>
        }
    </tbody>
</table>