@page
@model LabU.Pages.Admin.Users.ResetPasswordModel
@{
    ViewData["Title"] = "Сброс пароля";
}
<h1>Сброс пароля пользователя</h1>
<h3>@Model.Username</h3>
<div class="col-md-4">
    <form method="post">
        <div asp-validation-summary="All"></div>
        @Html.HiddenFor(x => x.UserId)

        <div class="form-floating mb-3">
            <input asp-for="@Model.Password" class="form-control"/>
            <label asp-for="@Model.Password"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="@Model.ConfirmPassword" class="form-control" />
            <label asp-for="@Model.ConfirmPassword"></label>
        </div>

        <button type="submit" class="btn btn-primary">Сбросить</button>
        <a asp-page="./Index" class="btn btn-light">Отмена</a>
    </form>
</div>
