@page "{id:int?}"
@using Microsoft.Build.Framework
@model LabU.Pages.Student.Task.DetailsModel
@{
    var task = Model.StudentTask;
}
<table>
    <tr>
        <td>
            <h3>@task.Name</h3>
            <p>@(string.IsNullOrEmpty(task.Description) ? "Описание отсутствует" : task.Description)</p>
            <br/>
            <form method="post">
                <button class="btn btn-primary">Новый ответ на задание</button>
            </form>
        </td>
        <td>
            <div>
                Срок завершения задания: @($"{task.Deadline:dd.MM.yyyy HH:mm}")
                <br/>
                @if (!string.IsNullOrEmpty(task.Reviewers))
                {
                    <h4>Проверяющие</h4>
                    @foreach (var reviewer in task.Reviewers.Split(','))
                    {
                        <p>@reviewer</p>
                    }
                }
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Предыдущие ответы на задание</h4>
            <table class="table">
                <tr>
                    <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].SubmissionDate)</td>
                    <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].SenderName)</td>
                    <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].Attachment)</td>
                </tr>
                <tr>
                    @foreach (var response in Model.PreviousTaskResponses)
                    {
                        <td>@Html.DisplayFor(x => response.SubmissionDate)</td>
                        <td>@Html.DisplayFor(x => response.SenderName)</td>
                        <td>
                            @Html.DisplayFor(x =>
                                     response.Attachment != null ? response.Attachment.FileName : "No attachment")
                        </td>
                    }
                </tr>
            </table>
        </td>
    </tr>
</table>
