@page "{id:int?}"
@model LabU.Pages.Student.Task.IndexModel
@{
    var task = Model.StudentTask;
    int counter = 0;
    ViewData["Title"] = $"Задание - {task.Name ?? "Без названия"}";
}
<table class="table table-borderless">
    <tr>
        <td width="60%">
            <h3>@task.Name</h3>
            <p>@(string.IsNullOrEmpty(task.Description) ? "Описание отсутствует" : task.Description)</p>
            <br />
            <form method="post" asp-page="./Response/Add" asp-route-taskId="@task.Id">
                <button class="btn btn-primary" disabled="@(task.Deadline.Value < DateTime.Now)">Новый ответ на задание</button>
            </form>
        </td>
        <td width="40%" align="right">
            <div>
                <span class="@(task.Deadline.Value > DateTime.Now ? "text-black" : "text-danger")">Срок завершения задания: @($"{task.Deadline:dd.MM.yyyy HH:mm}")</span>
                @if (task.Deadline.Value > DateTime.Now && task.Deadline.Value.Subtract(DateTime.Now) < TimeSpan.FromHours(12))
                {
                    <br />
                    <span class="text-danger">Внимание! Осталось менее 12 часов до сдачи задания</span>
                }
                <br />
                @if (!string.IsNullOrEmpty(task.Reviewers))
                {
                    <br />
                    <h4>Проверяющие</h4>
                    @if (!string.IsNullOrEmpty(task.Reviewers))
                    {
                        foreach (var reviewer in task.Reviewers.Split(',', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <span class="text-black-50">@reviewer</span>
                        }
                    }
                }
            </div>
        </td>
    </tr>
    <tr>
        <td width="60%" colspan="2">
            <h4>Предыдущие ответы</h4>
            @if (Model.PreviousTaskResponses.Count > 0)
            {
                <table class="table">
                    <tr>
                        <td>№</td>
                        <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].SubmissionDate)</td>
                        <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].SenderName)</td>
                        <td>@Html.DisplayNameFor(x => x.PreviousTaskResponses[0].AttachmentName)</td>
                    </tr>
                    <tr width="40%">
                        @foreach (var response in Model.PreviousTaskResponses)
                        {
                            <td>@(++counter)</td>
                            <td>@Html.DisplayFor(x => response.SubmissionDate)</td>
                            <td>@Html.DisplayFor(x => response.SenderName)</td>
                            <td>
                                @Html.DisplayFor(x => response.Attachment != null ? response.Attachment.FileName : "No attachment")
                            </td>
                            <td><a class="btn btn-lg" asp-page="./Response/Edit" asp-route-id="@response.Id">Просмотр</a></td>
                        }
                    </tr>
                </table>
            }
            else
            {
                <span class="text-black">Еще не отправлено ни одного ответа на задание</span>
            }
        </td>
    </tr>
</table>
