@page
@model AddModel
@{
    ViewData["Title"] = "Добавление студента";
}
<h1>@ViewData["Title"]</h1>
<div>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.Username" class="form-control" />
                <label asp-for="@Model.UserModel.Username"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.Password" class="form-control" />
                <label asp-for="@Model.UserModel.Password"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.ConfirmPassword" class="form-control" />
                <label asp-for="@Model.UserModel.ConfirmPassword"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.Email" class="form-control" />
                <label asp-for="@Model.UserModel.Email"></label>
            </div>

            <br />
            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.LastName" class="form-control" />
                <label asp-for="@Model.UserModel.LastName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.FirstName" class="form-control" />
                <label asp-for="@Model.UserModel.FirstName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.MiddleName" class="form-control" />
                <label asp-for="@Model.UserModel.MiddleName"></label>
            </div>
            <br />

            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.Course" class="form-control" />
                <label asp-for="@Model.UserModel.Course"></label>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="@Model.UserModel.AcademicGroupId" class="form-control"
                        asp-items="@Model.AcademicGroups">
                    <option value="">-- Выберите академическую группу --</option>
                </select>
                <label asp-for="@Model.UserModel.AcademicGroupName"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.UserModel.CommandId" class="form-control" />
                <label asp-for="@Model.UserModel.CommandId"></label>
            </div>

            <br />
            <div class="mb-3">
                <input type="checkbox" asp-for="@Model.UserModel.IsActiveAccount" />
                <label asp-for="@Model.UserModel.IsActiveAccount"></label>
            </div>

            <button type="submit" class="btn btn-primary" >Добавить</button>
            <a asp-page="./Index" class="btn btn-light">Отмена</a>
        </form>
        
    </div>
</div>
