@page "{id:int?}"
@using LabU.Core.Identity
@model EditModel
@{
    ViewData["Title"] = "Редактирование студента";
}
<h1>@ViewData["Title"]</h1>
<h3>@Model.Student.LastName @Model.Student.FirstName @Model.Student.MiddleName</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All"></div>
            @Html.HiddenFor(x => x.Student.Id)

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.Username" class="form-control" />
                <label asp-for="@Model.Student.Username"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.Email" class="form-control" />
                <label asp-for="@Model.Student.Email"></label>
            </div>

            <div class="mb-3">
                <input asp-for="@Model.Student.IsEmailConfirmed" />
                <label asp-for="@Model.Student.IsEmailConfirmed"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.LastName" class="form-control" />
                <label asp-for="@Model.Student.LastName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.FirstName" class="form-control" />
                <label asp-for="@Model.Student.FirstName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.MiddleName" class="form-control" />
                <label asp-for="@Model.Student.MiddleName"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.Course" class="form-control" />
                <label asp-for="@Model.Student.Course"></label>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="@Model.Student.AcademicGroupId" class="form-control"
                        asp-items="@Model.AcademicGroups">
                    <option value="">-- Выберите академическую группу --</option>
                </select>
                <label asp-for="@Model.Student.AcademicGroup"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Student.CommandId" class="form-control" />
                <label asp-for="@Model.Student.CommandId" ></label>
            </div>

            <div class="mb-3">
                <input asp-for="@Model.Student.IsActiveAccount" disabled="@(Model.Student.Id == 1 && User.IsInRole(UserRoles.ADMINISTRATOR))"/>
                <label asp-for="@Model.Student.IsActiveAccount"></label>
                @if (Model.Student.Id == 1 && User.IsInRole(UserRoles.ADMINISTRATOR))
                {
                    <p>Вы не можете деактивировать учетную запись главного пользователя</p>
                }
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-page="./Index" class="btn btn-light">Отмена</a>
        </form>

    </div>
</div>