@page "{id:int?}"
@using LabU.Core
@model LabU.Pages.Teacher.Task.DetailsModel
@{
    int counter = 0;
    var task = Model.StudentTask;
    var isTaskAccepted = task.Status == ResponseState.Accepted;
    ViewData["Title"] = $"Задание - {task.Name ?? "Без названия"}";
}

<table class="table table-borderless">
    <tr>
        <td width="60%">
            <h2>@task.Name</h2>
            <p>@(string.IsNullOrEmpty(task.Description) ? "Описание отсутствует" : task.Description)</p>    
        </td>
        <td width="40%" align="right">
            <div>
                <span class="text-black">Срок закрытия задания: @($"{task.Deadline:dd.MM.yyyy HH:mm}")</span>
                
                @if (!string.IsNullOrEmpty(task.Reviewers))
                {
                    <h4>Ответственные</h4>
                    @if (!string.IsNullOrEmpty(task.Students))
                    {
                        foreach (var student in task.Students.Split(',', StringSplitOptions.RemoveEmptyEntries))
                        {
                            <span class="text-black-50">@student</span>
                            <br />
                        }
                    }
                }
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <a asp-page="../Index" class="btn btn-light">← К списку заданий</a>
            @if ((task.Deadline == null || task.Deadline.Value > DateTime.Now) && !isTaskAccepted)
            {
                @if (task.Status == ResponseState.WaitForRevision)
                {
                    <a asp-page="./Response/Review" asp-route-taskId="@task.Id" class="btn btn-primary">Проверить</a>
                }
                else
                {
                    <a asp-page="./Response/Add" asp-route-taskId="@task.Id" class="btn btn-primary">Новый ответ на задание</a>
                }
            }
        </td>
        <td align="right">
            @if (!isTaskAccepted)
            {
                <form method="post" asp-route-id="@task.Id">
                    <button type="submit" class="btn btn-outline-success">Принять задание</button>
                </form>
            }
            
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>История ответов</h4>
            @if (Model.TaskResponses.Count > 0)
            {
                <table class="table table-sm align-baseline">
                    <tr>
                        <td>№</td>
                        <td>@Html.DisplayNameFor(x => x.TaskResponses[0].SubmissionDate)</td>
                        <td>@Html.DisplayNameFor(x => x.TaskResponses[0].SenderName)</td>
                        <td>@Html.DisplayNameFor(x => x.TaskResponses[0].AttachmentName)</td>
                    </tr>
                    <tr width="40%">
                        @foreach (var response in Model.TaskResponses)
                        {
                            <td>@(++counter)</td>
                            <td>@Html.DisplayFor(x => response.SubmissionDate)</td>
                            <td>@Html.DisplayFor(x => response.SenderName)</td>
                            <td>
                                @Html.DisplayFor(x => response.Attachment != null ? response.Attachment.FileName : "No attachment")
                            </td>
                            <td><a class="btn btn-link" asp-page="./Response/Details" asp-route-id="@response.Id">Просмотр</a></td>
                        }
                    </tr>
                </table>
            }
            else
            {
                <span class="text-black">Еще не отправлено ни одного ответа на задание</span>
            }
        </td>
    </tr>
</table>