@page
@model LabU.Pages.Account.Login

@{
    ViewData["Title"] = "Вход в систему Lab-U";
}
<div align="center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <div class="form-floating mb-3">
                <input asp-for="@Model.Username" class="form-control" />
                <label asp-for="@Model.Username"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="@Model.Password" class="form-control" />
                <label asp-for="@Model.Password"></label>
            </div>

            <div class="mb-3">
                <input type="checkbox" asp-for="@Model.RememberMe" />
                <label asp-for="@Model.RememberMe"></label>
            </div>

            <input type="submit" value="Войти" class="btn btn-primary" />

            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>
