@page
@model LabU.Pages.Teacher.IndexModel
@{
    ViewData["Title"] = "Главная";
}

<h3>Активные задания</h3>
@if (Model.ActiveTasks.Count > 0)
{
    <table class="table align-baseline">
        <caption>Нажмите на название задания, чтобы открыть подробности или отправить ответ</caption>
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(m => m.ActiveTasks[0].Name)</td>
                <td>@Html.DisplayNameFor(m => m.ActiveTasks[0].Deadline)</td>
                <td>@Html.DisplayNameFor(m => m.ActiveTasks[0].Subject)</td>
                <td>@Html.DisplayNameFor(m => m.ActiveTasks[0].Status)</td>
                <td>@Html.DisplayNameFor(m => m.ActiveTasks[0].Students)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.ActiveTasks)
            {
                <tr @(task.Status == Core.ResponseState.WaitForRevision ? "class=table-warning" : "")>
                    <td><a asp-page="./Task/Details" asp-route-id="@task.Id" class="btn btn-toolbar">@task.Name</a></td>
                    <td>@Html.DisplayFor(x => task.Deadline)</td>
                    <td>@Html.DisplayFor(x => task.Subject)</td>
                    <td>@Html.DisplayFor(x => task.StatusName)</td>
                    <td>@Html.DisplayFor(x => task.Students)</td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <br />
    <span class="text-center">Нет заданий на проверку</span>
}

<br />
<h3>Выполненные задания</h3>
@if (Model.CompletedTasks.Count > 0)
{
    <table class="table align-baseline text-black-50">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Name)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Deadline)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Subject)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Status)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Students)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.CompletedTasks)
            {
                <tr>
                    <td><a asp-page="./Task/Details" asp-route-id="@task.Id" class="btn btn-toolbar text-black-50">@task.Name</a></td>
                    <td>@Html.DisplayFor(x => task.Deadline)</td>
                    <td>@Html.DisplayFor(x => task.Subject)</td>
                    <td>@Html.DisplayFor(x => task.StatusName)</td>
                    <td>@Html.DisplayFor(x => task.Students)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <span class="text-center">Нет завершенных заданий</span>
}

<br />
<h3>Просроченные задания</h3>
@if (Model.CompletedTasks.Count > 0)
{
    <table class="table align-baseline text-black-50">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Name)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Deadline)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Subject)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Status)</td>
                <td>@Html.DisplayNameFor(m => m.CompletedTasks[0].Students)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.OverdueTasks)
            {
                <tr>
                    <td><a asp-page="./Task/Details" asp-route-id="@task.Id" class="btn btn-toolbar text-black-50">@task.Name</a></td>
                    <td>@Html.DisplayFor(x => task.Deadline)</td>
                    <td>@Html.DisplayFor(x => task.Subject)</td>
                    <td>@Html.DisplayFor(x => task.StatusName)</td>
                    <td>@Html.DisplayFor(x => task.Students)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <span class="text-center">Нет завершенных заданий</span>
}


<br />
<h4>Ваши роли: </h4>
<ul>
    @if (User.IsInRole("admin"))
    {
        <li>Admin</li>
    }
    @if (User.IsInRole("teacher"))
    {
        <li>Teacher</li>
    }
    @if (User.IsInRole("student"))
    {
        <li>Student</li>
    }
</ul>